extends userlayout

block css
    link(rel="stylesheet" type="text/css" href="static/libs/datatables-1.10.11/css/dataTables.bootstrap.min.css")
    link(rel='stylesheet', href='static/libs/datatables-1.10.11/css/dataTables.fontAwesome.css')

block content

    h2.bold This Week's Game:
    .row
        .col-sm-1.col-xs-3
            img#tean-helment(src="http://cdn.fbschedules.com/images/helmets-ncaa/t-z/texas_am1.gif")
        .col-sm-11.col-xs-9
            h4 Texas A&M Aggies,
            p.text-muted 
                | Saturday Oct. 22 | 2:30pm CT | Bryant-Denny Stadium, Tuscaloosa, AL 
    .row
        .col-sm-12.col-xs-12.bold You do not have a ticket for this game:
    .row 
        .col-sm-6.col-xs-12
            a.action-btn.btn.btn-primary.btn-block(href="request-confirm.html" role="button") Request a ticket from the lottery
        .col-sm-6.col-xs-12
            a.action-btn.btn.btn-primary.btn-block(href="exchange.html" role="button") Buy a ticket in the exchange
    
    hr

    h2.bold You Own:
    h3 Home Game Tickets:
    p.text-muted Bryant-Denny Stadium, Tuscaloosa, AL
    table#homeTable.table(cellspacing="0" width="100%")
        thead
            tr
                th
                th Date
                th Opponent
                th Time
                th Seating Bowl
                th Action
        tbody
            tr
                td
                td 11/12/2016
                td Mississippi State
                td 11:00am CT
                td Lower Bowl
                td 
                    a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket

            tr
                td
                td 11/19/2016
                td Chattanooga
                td 11:00am CT
                td Lower Bowl
                td 
                    a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket

            tr
                td
                td 11/26/2016
                td Auburn
                td TBA
                td Lower Bowl
                td 
                    a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket

    h3 Away Game Tickets:
    p.text-muted 
        | Student ticket pick up will begin at 7 a.m. on the Monday prior to each away game at the TIDE PRIDE/Ticket Office located in the main lobby of Coleman Coliseum.
        | Only the student of record may pick up his/her ticket, no exceptions.
        | If you would like to sit with your friends, you must come with your friends to pick up your ticket.
    table#awayTable.table(cellspacing="0" width="100%")
        thead
            tr
                th
                th Date
                th Opponent
                th Time
                th Seat
        tbody
            tr
                td
                td 11/5/2016
                td LSU
                td 7:00pm CT
                td TBA

    h3 Postseason Game Tickets:
    p.text-muted All postseason tickets are tenative.
    table#postseasonTable.table(cellspacing="0" width="100%")
        thead
            tr
                th
                th Date
                th Game
                th Location
                th Opponent
                th Time
                th Seat
        tbody
            tr
                td
                td 12/3/2016
                td SEC Championship Game
                td Georgia Dome, Atlanta, GA
                td TBA
                td TBA
                td TBA
            tr
                td
                td TBA
                td Bowl Game 1
                td TBA
                td TBA
                td TBA
                td TBA
            tr
                td
                td 1/9/2017
                td National Championship Game
                td Tampa, FL
                td TBA
                td TBA
                td TBA

    h3 Your Penalty Points:
    p.text-muted Students who receive more than 3 penalty points will not be able to purchase postseason tickets for this year or regular season and postseason tickets for fall of the next year.
    p.bold Total Penalty Points: 2
    table#penaltyTable.table(cellspacing="0" width="100%")
        thead
            tr
                th
                th Date
                th Reason
                th Points

        tbody
            tr
                td
                td 9/14/2016
                td Upgrade of student ticket
                td 1.5
            tr
                td
                td 10/6/2016
                td Ticket donation after 5pm Wednesday of game week
                td 0.5
                
    hr

block js
    script(type="text/javascript" src="static/libs/datatables-1.10.11/js/datatables.min.js")
    script(src='static/js/index.js')    
