extends buylayout

block active
    -var active = 'My Dashboard';

block content
    h3.bold Buy Home Game Tickets:
    .row
        .col-xs-12
            p
            | All students who are enrolled in fall 2016 courses are elegible to buy Home Game Tickets.
            | Incoming Freshmen and Transfer students who are signed up for an Orientation session; 
            | and new Graduate/Professional students who are signed up for Orientation may purchase partial 
            | season packages. Purchase is subject to availability. 
            br
            br
            
            a.btn.btn-primary.btn-lg.btn-block(href="buytickets-home.html" role="button") Buy Home Game Tickets
    
    h3.bold Buy Away Game Tickets:
    .row
        .col-xs-12
            p
            | All upperclassman who are enrolled in fall 2016 courses are elegible to buy Away Game Tickets.
            | Incoming Freshmen, Transfer students, and New Graduate/Professional students are not elegible.
            | An 86/14 split will occur for each away game, with 86% of each student away game allotment going | to undergraduate students, and 14% going to graduate students. Tickets will be offered daily 
            | based on credit hour ranges as of the Fall 2015 semester. Purchase is subject to availability. 
            br
            br
            
            a.btn.btn-primary.btn-lg.btn-block(href="buytickets-away.html" role="button") Buy Away Game Tickets
    
    h3.bold Opt-in for Postseason Tickets:
    .row
        .col-xs-12
            p
            | All students who are enrolled in fall 2016 courses are elegible to opt-in for Postseason Tickets.
            | Incoming Freshmen and Transfer students who are signed up for an Orientation session; 
            | and new Graduate/Professional students who are signed up for Orientation are also elgible.
            | Opting in does not guarentee that you will recieve a ticket for that game, it only adds you to 
            | the request list. If Alabama goes to a postseason game, tickets will be allocated by credit hour.
            br
            br
            
            a.btn.btn-primary.btn-lg.btn-block(href="buytickets-postseason.html" role="button") 
                | Opt-in for Postseason Tickets:
