extends buylayout

block active
    -var active = 'My Dashboard';
    -var checked = undefined

block title
    | Buy Away Game Tickets

block css
    link(rel="stylesheet" type="text/css" href="static/libs/datatables-1.10.11/css/dataTables.bootstrap.min.css")
    link(rel='stylesheet', href='static/libs/datatables-1.10.11/css/dataTables.fontAwesome.css')

block content
    h2.bold Buy Away Game Tickets:
    hr
    .row
        .col-xs-12
            h3.bold Available Away Games
            table#awayTable.table(cellspacing="0" width="100%")
                thead  
                    tr
                        th 
                        th Date
                        th Opponent
                        th Price
                        th Add / Remove
                tbody
                    tr
                        td
                        td 09/3
                        td USC
                        td $90
                        td
                            button.action.btn.btn-default.btn-sm.btn-block(role="button") Add
                    tr
                        td
                        td 9/17
                        td Ole Miss  
                        td $100
                        td
                            button.action.btn.btn-default.btn-sm.btn-block(role="button") Add
                    tr
                        td 
                        td 10/8
                        td Arkansas
                        td $80
                        td
                            button.action.btn.btn-default.btn-sm.btn-block(role="button") Add
                    tr
                        td
                        td 10/15 
                        td Tennesse
                        td $100
                        td
                            button.action.btn.btn-default.btn-sm.btn-block(role="button") Add
                    tr 
                        td
                        td 11/5
                        td LSU
                        td $110
                        td
                            button.action.btn.btn-default.btn-sm.btn-block(role="button") Add
    br
    .row
        .col-sm-6.col-xs-12
            p.bold Terms and Conditons:
            .well
                p.text-muted
                    | All away game purchases are final. The total purchase amount will be charged
                    | to your student account. Student ticket pick up will begin at 7 a.m. on the 
                    | Monday prior to each away game at the TIDE PRIDE/Ticket Office located in the
                    | main lobby of Coleman Coliseum. Only the student of record may pick up his/her
                    | ticket, no exceptions. If you would like to sit with your friends, you must 
                    | come with your friends to pick up your ticket.
    .row
        .col-sm-6
            .checkbox
                label
                    input#checkboxConfirm(type="checkbox") 
                    | I understand the above terms and conditions
    br
    .row
        .col-sm-6
            p.bold Are you sure you want to buy the above away game tickets?
            br
    .row 
        .col-sm-3.col-xs-6
            a#confimationBtn.btn.btn-primary.btn-lg.btn-block(href="buytickets-confirm.html" role="button") Confirm
        .col-sm-3.col-xs-6
            a.btn.btn-default.btn-lg.btn-block(href="buytickets-index.html" role="button") Go Back
    br

block js
    script(type="text/javascript" src="static/libs/datatables-1.10.11/js/datatables.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src='static/js/buytickets-away.js') 
