extends ../userlayout

block active
    -var active = 'Donate Ticket';

block title
    | Donate Ticket


block content
    h2.bold DonateTicket:
    hr    
    h4 Mississippi State vs. Alabama
    p.text-muted Lower Bowl | Saturday Nov. 12 | 11:00am CT | Bryant-Denny Stadium, Tuscaloosa, AL
    br

    br
    .row
        .col-sm-6.col-xs-12
            p.bold Terms and Conditons:
            .well
                p.text-muted
                    | Once this ticket is donated, you will not have a ticket or be able to recieve one.
    .row
        .col-sm-6
            .checkbox
                label
                    input#checkboxConfirm(type="checkbox") 
                    | I understand the above terms and conditions
    br
    .row
        .col-sm-6
            p.bold Are you sure you want to donate this ticket?
            br
    .row 
        .col-sm-3.col-xs-6
            a#confimationBtn.btn.btn-primary.btn-lg.btn-block(href="donate-confirm.html" role="button") Confirm
        .col-sm-3.col-xs-6
            a.btn.btn-default.btn-lg.btn-block(href="transfer-home.html" role="button") Go Back
    br

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src='static/js/donate.js') 
