extends ../userlayout

block active
    -var active = 'Donate Confirmation';

block title
    | Donate Ticket

block content
    h2.bold Donate Confirmation
    hr
    
    .row
        .col-xs-12
            p
                | Your ticket has been successfully donated to the lottery. Your ticket balance 
                | can be verified at anytime on your myTickets Dashboard.
                
            p
                | There is a 0.5 penalty point for each ticket a student donates after 5pm the
                | Wednesday prior to each home football game.  Students who receive a total of 
                | 3.5 or more penalty points during the 2016 regular home football season will not 
                | be able to purchase postseason ticket(s) for this year or regular season and post
                | season tickets for fall 2017. Students are responsible for managing their 
                | football ticket account and, if applicable, monitoring their cumulative penalty 
                | point total.
    br
    .row    
        .col-sm-4.col-xs-12
            a.btn.btn-default.btn-lg.btn-block(href="index.html" role="button") Return to My Dashboard
