extends ../userlayout

block active
    -var active = 'Transfer Ticket';

block title
    | Transfer Ticket

block content
    h2.bold Transfer Ticket:
    hr    
    h4 Mississippi State vs. Alabama
    p.text-muted Lower Bowl | Saturday Nov. 12 | 11:00am CT | Bryant-Denny Stadium, Tuscaloosa, AL
    br

    .row
        .col-sm-6.col-xs-12
            p.bold Transfer to:
            form
                .form-group
                    .form-group
                      label(for= "emailX") Crimson Email Address: 
                      input.form-control#emailX(type="email" placeholder="transferto@crimson.ua.edu")
    br
    .row
        .col-sm-6.col-xs-12
            p.bold Terms and Conditons:
            .well
                p.text-muted
                    | This ticket will be avaialbe to transfer at 1pm on Sunday November 6th, 2016.
                    | When the ticket is transferred you will recieve a confirmation email.
    .row
        .col-sm-6
            .checkbox
                label
                    input#checkboxConfirm(type="checkbox") 
                    | I understand the above terms and conditions
    br
    .row
        .col-sm-6
            p.bold Are you sure you want to transfer this ticket?
            br
    .row 
        .col-sm-3.col-xs-6
            a#confimationBtn.btn.btn-primary.btn-lg.btn-block(href="transfer-confirm.html" role="button") Confirm
        .col-sm-3.col-xs-6
            a.btn.btn-default.btn-lg.btn-block(href="transfer-home.html" role="button") Go Back
    br
    
block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src='static/js/transfer.js') 
