extends ../userlayout

block active
    -var active = 'Transfer Ticket';

block title
    | Transfer Confirmation

block content
    h2.bold Transfer Confirmation
    hr
    
    .row
        .col-xs-12
            p
                | Your ticket has been successfully transferred, and your confimation number is
                | TR2WED660GWQU12. Your ticket balance can be verified at anytime on your myTickets
                | Dashboard. Please enter through gate 31. 
                
            p
                | There is no penalty for transferring student tickets. Students who receive a total 
                | of 3.5 or more penalty points during the 2016 regular home football season will not 
                | be able to purchase postseason ticket(s) for this year or regular season and post
                | season tickets for fall 2017. Students are responsible for managing their 
                | football ticket account and, if applicable, monitoring their cumulative penalty 
                | point total.
    br
    .row    
        .col-sm-4.col-xs-12
            a.btn.btn-default.btn-lg.btn-block(href="index.html" role="button") Return to My Dashboard
