extends ../userlayout

block active
    -var active = 'Exchange Tickets';

block title
    | Buy Ticket

block content
    h2.bold Confirmation
    hr
    
    .row
        .col-xs-12
            p
                | This ticket will be avaiavle to buyers at 1pm on Sunday November 6th, 2016. Your 
                | confimation number is WV5TAD61PLQV68. You will be notfied by email when this
                | this ticket is sold. 
    br
    .row    
        .col-sm-4.col-xs-12
            a.btn.btn-default.btn-lg.btn-block(href="index.html" role="button") Return to My Dashboard
