extends ../userlayout

block active
    -var active = 'Exchange Tickets';

block title
    | Buy Ticket

block content
    h2.bold Buy Ticket:
    hr
    h4 Texas A&M vs. Alabama
    p.text-muted Saturday Oct. 22 | 2:30pm CT | Bryant-Denny Stadium, Tuscaloosa, AL 
    h4.bold Selected Ticket:
    .row
        .col-sm-6.col-xs-12
            table.table.table-bordered
                thead
                    tr.active
                        th Seating Bowl
                        th Price
                tbody
                    tr
                        td Lower
                        td $68
    .row
        .col-sm-6.col-xs-12
            p.bold Terms and Conditons:
            .well
                p.text-muted
                    | This ticket will be transfered to your myTickets account immediatly, and the
                    | charge will be added to your student account. If you choose not to go to the
                    | game you will recieve 2 penatly points. If you transfer this ticket after 5pm 
                    | Wednesday you will recieve 0.5 penalty points. If you want to upgrade this ticket
                    | please go to the Athletics Ticket Office in Coleman Coliseum. 
    .row
        .col-sm-6
            .checkbox
                label
                    input#checkboxConfirm(type="checkbox") 
                    | I understand the above terms and conditions
    br
    .row
        .col-sm-6
            p.bold Are you sure you want to buy this ticket?
            br
    .row 
        .col-sm-3.col-xs-6
            a#confimationBtn.btn.btn-primary.btn-lg.btn-block(href="exchange-buy-confirm.html" role="button") Confirm
        .col-sm-3.col-xs-6
            a.btn.btn-default.btn-lg.btn-block(href="exchange.html" role="button") Go Back
    br

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src='static/js/exchange-buy.js')  
