extends ../userlayout

block active
    -var active = 'Exchange Tickets';

block title
    | Buy Ticket

block content
    h2.bold Confirmation
    hr
    
    .row
        .col-xs-12
            p
                | The charge of $68 has been added to your student account, and your confimation number is
                | CA2WED660MHDU40. Your ticket balance can be verified at anytime on your myTickets
                | Dashboard. Please enter through gate 31. 
                
            p
                | Use your ticket!  Students who do not use tickets assigned to them receive a 2 
                | point penalty for each game their ticket goes unused, 1.5 penalty point for each 
                | ticket they upgrade and 0.5 penalty point for each ticket they donate after 5pm 
                | the Wednesday prior to each home football game.  Students who receive a total of 
                | 3.5 or more penalty points during the 2016 regular home football season will not 
                | be able to purchase postseason ticket(s) for this year or regular season and post
                | season tickets for fall 2017. Students are responsible for managing their 
                | football ticket account and, if applicable, monitoring their cumulative penalty 
                | point total.
    br
    .row    
        .col-sm-4.col-xs-12
            a.btn.btn-default.btn-lg.btn-block(href="index.html" role="button") Return to My Dashboard
