extends ../userlayout

block active
    -var active = 'Exchange Tickets';

block title
    | Sell Ticket

block content
    h2.bold Sell Ticket:
    hr    
    h4 Mississippi State vs. Alabama
    p.text-muted Lower Bowl | Saturday Nov. 12 | 11:00am CT | Bryant-Denny Stadium, Tuscaloosa, AL
    br
    h4.bold Average lower bowl ticket price for this game: $40
    .row
        .col-sm-6.col-xs-12
            form.form-inline
                .form-group
                    label.bold(for="priceSelect") Select the price of your ticket: &nbsp;
                    select#priceSelect.form-control
                        option $1
                        option $2
                        option $3
                        option $4
                        option $5
                        option $6
                        option $7
                        option $8
                        option $9
                        option $10
                        option $11
                        option $12
                        option $13
                        option $14
                        option $15
                        option $16
                        option $17
                        option $18
                        option $19
                        option $20
                        option $21
                        option $22
                        option $23
                        option $24
                        option $25
                        option $26
                        option $27
                        option $28
                        option $29
                        option $30
                        option $31
                        option $32
                        option $33
                        option $34
                        option $35
                        option $36
                        option $37
                        option $38
                        option $39
                        option $40
                        option $41
                        option $42
                        option $43
                        option $44
                        option $45
                        option $46
                        option $47
                        option $48
                        option $49
                        option $50
                        option $51
                        option $52
                        option $53
                        option $54
                        option $55
                        option $56
                        option $57
                        option $58
                        option $59
                        option $60
                        option $61
                        option $62
                        option $63
                        option $64
                        option $65
                        option $66
                        option $67
                        option $68
                        option $69
                        option $70
                        option $71
                        option $72
                        option $73
                        option $74
                        option $75
                        option $76
                        option $77
                        option $78
                        option $79
                        option $80
                        option $81
                        option $82
                        option $83
                        option $84
                        option $85
                        option $86
                        option $87
                        option $88
                        option $89
                        option $90
                        option $91
                        option $92
                        option $93
                        option $94
                        option $95
                        option $96
                        option $97
                        option $98
                        option $99
                        option $100
                        option $101
                        option $102
                        option $103
                        option $104
                        option $105
                        option $106
                        option $107
                        option $108
                        option $109
                        option $110
                        option $111
                        option $112
                        option $113
                        option $114
                        option $115
                        option $116
                        option $117
                        option $118
                        option $119
                        option $120
                        option $121
                        option $122
                        option $123
                        option $124
                        option $125
                        option $126
                        option $127
                        option $128
                        option $129
                        option $130
                        option $131
                        option $132
                        option $133
                        option $134
                        option $135
                        option $136
                        option $137
                        option $138
                        option $139
                        option $140
                        option $141
                        option $142
                        option $143
                        option $144
                        option $145
                        option $146
                        option $147
                        option $148
                        option $149
                        option $150
                        option $151
                        option $152
                        option $153
                        option $154
                        option $155
                        option $156
                        option $157
                        option $158
                        option $159
                        option $160
                        option $161
                        option $162
                        option $163
                        option $164
                        option $165
                        option $166
                        option $167
                        option $168
                        option $169
                        option $170
                        option $171
                        option $172
                        option $173
                        option $174
                        option $175
                        option $176
                        option $177
                        option $178
                        option $179
                        option $180
                        option $181
                        option $182
                        option $183
                        option $184
                        option $185
                        option $186
                        option $187
                        option $188
                        option $189
                        option $190
                        option $191
                        option $192
                        option $193
                        option $194
                        option $195
                        option $196
                        option $197
                        option $198
                        option $199
                        option $200
    .row
        .col-sm-6
            .checkbox
                label.control-label
                    input(type="checkbox") 
                    | Stop automatic donation of ticket to ticket lottery.
    .row
        .col-sm-6
                    p.text-muted
                        | If this option is not checked, this ticket will be donated to the ticket
                        | lottery at 12am on November 12th, 2016. If you choose to stop this automatic
                        | donation and this ticket is not sold or used, then you will recieve 2 penalty
                        | points.
    br
    .row
        .col-sm-6.col-xs-12
            p.bold Terms and Conditons:
            .well
                p.text-muted
                    | This ticket will be avaialbe to buyers at 1pm on Sunday November 6th, 2016.
                    | When the ticket is sold you will recieve a confirmation email, and the dollar
                    | amount you specfied in the above form will be debited to your student account.
                    | If the ticket is not sold by 12am on November 12th, 2016 it will automatically 
                    | be donated to the lottery unless you specfied otherwise in the above form. 
    .row
        .col-sm-6
            .checkbox
                label
                    input#checkboxConfirm(type="checkbox") 
                    | I understand the above terms and conditions
    br
    .row
        .col-sm-6
            p.bold Are you sure you want to sell this ticket for the above price?
            br
    .row 
        .col-sm-3.col-xs-6
            a#confimationBtn.btn.btn-primary.btn-lg.btn-block(href="exchange-buy-confirm.html" role="button") Confirm
        .col-sm-3.col-xs-6
            a.btn.btn-default.btn-lg.btn-block(href="exchange.html" role="button") Go Back
    br

block js
    script(src='https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js')
    script(src='static/js/exchange-sell.js') 
