extends ../userlayout

block active
    -var active = 'Exchange Tickets';

block title
    | Exchange

block css
    link(rel="stylesheet" type="text/css" href="static/libs/datatables-1.10.11/css/dataTables.bootstrap.min.css")
    link(rel='stylesheet', href='static/libs/datatables-1.10.11/css/dataTables.fontAwesome.css')

block content
    h2.bold Student Ticket Exchange

    hr
    
    .row
        .col-sm-6.col-xs-12
            h3.bold Buy a ticket for this week's game:
            h4 Texas A&M vs. Alabama
            p.text-muted Saturday Oct. 22 | 2:30pm CT | Bryant-Denny Stadium, Tuscaloosa, AL    
            
            table#buyTable.table(cellspacing="0" width="100%")
                thead  
                    tr
                        th
                        th Seating Bowl 
                        th Price
                        th Action
                tbody
                    tr
                        td
                        td Lower
                        td $73
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $72
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $73
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $72
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $72
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket        
                    tr
                        td
                        td Lower
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $73
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $70
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $74
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $74
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket  
                    tr
                        td
                        td Lower
                        td $72
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $85
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $69
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $68
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $69
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Upper
                        td $65
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $71
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $78
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $74
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $67
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Lower
                        td $75
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket        
                    tr
                        td
                        td Upper
                        td $58
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $63
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
                    tr
                        td
                        td Upper
                        td $68
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Upper
                        td $64
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket    
                    tr
                        td
                        td Upper
                        td $63
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket                               
                    tr
                        td
                        td Upper
                        td $69
                        td 
                            a.btn.btn-primary.btn-sm.btn-block(href="exchange-buy.html" role="button") Buy ticket
            
            
            
        .col-sm-6.col-xs-12
            h3.bold Sell a future home game ticket:
            p.text-muted
                | The following table shows all home game tickets that you currently own. If you 
                | choose to sell one of these tickets it will not be availabe to buyers until 1pm, 
                | the Sunday before the game week. The average price the ticket has sold for in 
                | previous seasons is listed with each ticket.
            table#homeTable.table(cellspacing="0" width="100%")
                thead
                    tr
                        th
                        th Date
                        th Opponent
                        th Average Price
                        th Seating Bowl
                        th Action
                tbody
                    tr
                        td
                        td 11/12/2016
                        td Mississippi State
                        td $40
                        td Lower Bowl
                        td 
                            a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket
        
                    tr
                        td
                        td 11/19/2016
                        td Chattanooga
                        td $7
                        td Lower Bowl
                        td 
                            a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket
        
                    tr
                        td
                        td 11/26/2016
                        td Auburn
                        td $175
                        td Lower Bowl
                        td 
                            a.btn.btn-danger.btn-sm.btn-block(href="exchange-sell.html" role="button") Sell ticket


block js
    script(type="text/javascript" src="static/libs/datatables-1.10.11/js/datatables.min.js")
    script(src='static/js/exchange.js')  
